[user]
	name = Sean D
	email = 0xseen64@gmail.com
	signingKey = CBEE5797FD15F04B
[core]
	editor = nvim
[color]
	ui = true
[commit]
	gpgsign = true

[pull]
        ff = only
[init]
	defaultBranch = main
