* {
  border: none;
  border-radius: 0;
  font-family: Inter, Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 24px;
}

#workspaces {
  margin-top: 8px;
  margin-left: 12px;
  margin-bottom: 0;
  border-radius: 26px;
}

#window {
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 26px;
  transition: none;
  color: transparent;
  background: transparent;
}

window#waybar {
  background: rgba(43, 48, 59, 0.5);
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: white;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  background: #64727d;
  border-bottom: 3px solid white;
}

#mode,
#clock,
#battery,
#cpu,
#language,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#tray {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 26px;
  color: #000;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid white;
}

#idle_inhibitor {
  background: #22f2f2;
}

#cpu {
  background: #f21651;
}

#memory {
  background: #4a88d9;
}

#network {
  background: #05f2c7;
}

#backlight {
  background: #5c73f2;
}

#pulseaudio {
  background: #f2d338;
}

#language {
  background: #f23db3;
}

#battery {
  background: rgba(176, 196, 222, 0.85);
}

#clock {
  background: #d5f2ef;
}

#tray {
  background: #1d3759;
  margin-right: 12px;
}

#battery.charging {
  color: white;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #f53c3c;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
